<!DOCTYPE html>
<html{% if page.class %} class="{{ page.class }}"{% endif %}>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.name }}</title>
  <meta name="viewport" content="initial-scale=1" />
  <meta name="p:domain_verify" content="aa712630840b421410cce3b56d2dc764" />

  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:site_name" content="{{ site.name }}"/>
  <meta property="og:url" content="{{ page.url }}"/>
  <meta property="og:description" content="{{ page.excerpt | strip_html }}"/>

  {% bundle %}
  - /_assets/css/style.min.css
  {% endbundle %}

  <!-- Touch icon -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.png" />

  <!-- CSS, y'all -->
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7158232/640444/css/fonts.css?v=2" />

  <!-- RSS, brotha -->
 <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />

  <!-- You know, rather than reading the source like a chump, you can see it all on Bitbucket like a champ: https://bitbucket.org/daneden/daneden.me -->
</head>
<body>
  <header class="wrap site__header" role="banner">
    <a class="site__title o--b o--p" href="/" title="{{ site.name }} • Home">
      <span class="delta o--b">From the desk of</span>
      <span class="o--b">{{ site.name }}</span>
    </a>
    {% include nav.html %}
  </header>
