//
// Module: base
// ============
//
// High-level styles. Basically just
// the html/:root element.
//

html,
:root {
  font: 125%/1.4 $font-serif;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1, "onum" 1, "dlig" 1, "frac" 1;

  //background-color: $background;
  background-color: #fff;
  color: $dark-gray;

  @media (max-width: 860px) {
    font-size: 112.5%;
  }

  @media (max-width: 500px) {
    font-size: 100%;
  }

  &.night-mode {
    background-color: $background-invert;
    color: $dark-gray-invert;
  }
}
