//
// Module: content
// ===============
//
// High-level styles for the main
// content


.posts__list {
  .beta {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }
}

.post__title {
  margin-bottom: 0;
}

p:empty {
  display: none;
}

.hentry {
  margin-bottom: $baseline*3;

  @media (max-width: 860px) {
    margin-left: 0;
  }
}

.post__header,
.page__header {

  &.grid__col {
    @media (max-width: 860px) and (min-width: 600px) {
      text-align: center;
      width: 66.67%;
    }
  }
}

.post__content,
.page__content,
.post__header,
.page__header {

  &.grid__col {
    @media (max-width: 860px) and (min-width: 600px) {
      display: block;
      padding-left: 0;
      margin: {
        left: auto;
        right: auto;
      }

      .alignleft, .alignright,
      .imgbleed {
        margin-left: -25%;
        padding-right: $baseline;
      }
    }
  }
}

.footnote, .footnote:visited {
  padding: .15em;

  color: $highlight;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footnotes {
  @extend %meta;
  @extend %small;

  &:before {
    @extend %hr;

    content: '';
    display: block;
  }

  & :last-child {
    margin-bottom: 0;
  }

  :target {
    color: $dark-gray;
  }
}
