html,
:root {
  font: 125%/1.4 'Hoefler Text A', 'Hoefler Text B', Georgia, serif;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga" 1, "onum" 1, "dlig" 1, "frac" 1;
  -moz-font-feature-settings: "liga" 1, "onum" 1, "dlig" 1, "frac" 1;
  font-feature-settings: "liga" 1, "onum" 1, "dlig" 1, "frac" 1;
  background-color: #fff;
  color: #3d464d;
}

@media (max-width: 860px) {
  html,
  :root {
    font-size: 112.5%;
  }
}

@media (max-width: 500px) {
  html,
  :root {
    font-size: 100%;
  }
}

html.night-mode,
:root.night-mode {
  background-color: #1d1f21;
  color: #999a9b;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding-left: 1.4em;
}

header,
main,
footer,
p,
table,
figure,
blockquote,
pre,
ul,
ol,
h1,
.alpha,
h2,
.beta {
  margin-bottom: 1.4rem;
}

picture {
  display: block;
}

li ol,
li ul {
  margin-bottom: 0;
}

.o--b {
  display: block;
}

.o--p {
  margin-bottom: 1.4rem;
}

.o--mz {
  margin-bottom: 0;
}

.o--z {
  z-index: 100;
}

.unl {
  padding-left: 0;
  list-style: none;
}

.f--l {
  float: left;
}

.f--r {
  float: right;
}

.grid__col--1-of-6 {
  width: 16.66667%;
}

.grid__col--push-1-of-6 {
  margin-left: 16.66667%;
}

.grid__col--pull-1-of-6 {
  margin-left: -16.66667%;
}

.grid__col--5-of-6 {
  width: 83.33333%;
}

.grid__col--push-5-of-6 {
  margin-left: 83.33333%;
}

.grid__col--pull-5-of-6 {
  margin-left: -83.33333%;
}

.grid {
  list-style: none;
  margin-left: -1.4rem;
}

.grid > .grid__col--6-of-6 {
  width: 100%;
}

.grid > .grid__col--3-of-6 {
  width: 50%;
}

.grid > .grid__col--2-of-6 {
  width: 33.33333%;
}

.grid > .grid__col--4-of-6 {
  width: 66.66667%;
}

.grid > .grid__col--push-6-of-6 {
  margin-left: 100%;
}

.grid > .grid__col--push-3-of-6 {
  margin-left: 50%;
}

.grid > .grid__col--push-2-of-6 {
  margin-left: 33.33333%;
}

.grid > .grid__col--push-4-of-6 {
  margin-left: 66.66667%;
}

.grid > .grid__col--pull-6-of-6 {
  margin-left: -100%;
}

.grid > .grid__col--pull-3-of-6 {
  margin-left: -50%;
}

.grid > .grid__col--pull-2-of-6 {
  margin-left: -33.33333%;
}

.grid > .grid__col--pull-4-of-6 {
  margin-left: -66.66667%;
}

.grid > .grid__col {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: -0.25em;
  min-height: 1px;
  padding-left: 1.4rem;
  vertical-align: top;
}

@media screen and (max-width: 600px) {
  .grid > .grid__col {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    width: auto;
  }
}

.grid .grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  .grid {
    margin-left: 0;
    width: auto;
  }
}

.grid .grid__col--d-first {
  float: left;
}

.grid .grid__col--d-last {
  float: right;
}

.grid.grid--no-gutter {
  margin-left: 0;
  width: 100%;
}

.grid.grid--no-gutter > * {
  padding-left: 0;
}

.grid.grid--no-gutter .grid__col--span-all {
  margin-left: 0;
  width: 100%;
}

.grid .grid__col--ab {
  vertical-align: bottom;
}

.grid .grid__col--am {
  vertical-align: middle;
}

.wrap {
  max-width: 45rem;
  margin: 0 auto;
}

body {
  padding: 1.4rem;
}

.island {
  padding: 1.4rem;
}

.island--v {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.isle,
.highlight pre {
  padding: 0.7rem;
}

.isle--v,
.site__footer section,
.footer__copyright {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.spit,
.js--toggle-lights {
  padding: 0.35rem;
}

.spit--v,
.site__nav a {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}

.nav,
.nav ul,
.nav ol {
  list-style: none;
  padding-left: 0;
}

.nav li,
.nav a,
.nav ul li,
.nav ul a,
.nav ol li,
.nav ol a {
  display: inline-block;
}

h1,
.alpha {
  font-family: 'Requiem Display A', 'Requiem Display B', 'Hoefler Text A', 'Hoefler Text B', Georgia, serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.16667;
}

h1 .caps,
.alpha .caps {
  font-family: 'Requiem Display SC A', 'Requiem Display SC B', 'Requiem Display A', 'Requiem Display B', 'Hoefler Text A', 'Hoefler Text B', Georgia, serif;
}

h2,
.beta {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.16667;
}

* + h2,
* + .beta {
  padding-top: 1.4rem;
}

h3,
.gamma {
  margin-bottom: 0.7rem;
  font-family: 'Hoefler Text SC A', 'Hoefler Text SC B', 'Hoefler Text A', 'Hoefler Text B', Georgia, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.05em;
}

h4,
.delta {
  margin-bottom: 0.7rem;
  font-family: 'Whitney SSm SC A', 'Whitney SSm SC B', 'Whitney SSm A', 'Whitney SSm B', Geneva, Verdana, san-serif;
  font-size: 0.65rem;
  font-weight: 400;
  line-height: 1.61538;
  letter-spacing: 0.05em;
}

.footnotes,
.site__footer section,
.footer__copyright {
  font-size: 0.8rem;
  line-height: 1.3125;
}

.mega {
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 200;
}

.sans {
  font-family: 'Whitney SSm A', 'Whitney SSm B', Geneva, Verdana, san-serif;
}

.sans .caps {
  font-family: 'Whitney SSm SC A', 'Whitney SSm SC B', 'Whitney SSm A', 'Whitney SSm B', Geneva, Verdana, san-serif;
}

.dropcap {
  font-family: 'Requiem Display A', 'Requiem Display B', 'Hoefler Text A', 'Hoefler Text B', Georgia, serif;
  font-size: 4.2rem;
  line-height: 1;
  float: left;
  color: #508FAB;
  margin-right: 0.35rem;
}

.meta,
.footnotes {
  color: #888;
}

.caps {
  font-family: 'Hoefler Text SC A', 'Hoefler Text SC B', 'Hoefler Text A', 'Hoefler Text B', Georgia, serif;
  letter-spacing: 0.05em;
}

a,
a:visited,
.js--toggle-lights {
  color: inherit;
  cursor: pointer;
}

a:hover,
a:visited:hover,
.js--toggle-lights:hover {
  color: #508FAB;
}

figcaption,
.site__nav {
  font-size: 0.65rem;
  line-height: 1.61538;
  font-family: 'Whitney SSm A', 'Whitney SSm B', Geneva, Verdana, san-serif;
  color: #888;
}

.night-mode figcaption,
.night-mode .site__nav {
  color: #77797a;
}

figcaption .caps,
.site__nav .caps {
  font-family: 'Whitney SSm SC A', 'Whitney SSm SC B', 'Whitney SSm A', 'Whitney SSm B', Geneva, Verdana, san-serif;
}

hr,
.footnotes:before {
  border: 0;
  border-bottom: 2px solid #d0d2d4;
  width: 6rem;
  padding-top: 1.4rem;
  margin-top: -2px;
  margin-right: auto;
  margin-bottom: 2.8rem;
  margin-left: auto;
}

.night-mode hr,
.night-mode .footnotes:before {
  border-bottom-color: #393b3f;
}

mark {
  background-color: transparent;
  color: #508FAB;
}

blockquote {
  font-style: italic;
  padding: 0 1.4rem;
  border-left: 2px solid #508FAB;
}

blockquote em {
  font-style: normal;
}

.promo {
  text-align: center;
}

figure img {
  display: block;
  width: 100%;
  margin-bottom: 0.7rem;
}

@media (min-width: 600px) {
  .alignleft,
  .alignright {
    float: left;
    width: -webkit-calc(50% - 0.7rem);
    width: calc(50% - 0.7rem);
    margin-left: -webkit-calc(-50% - 0.46667rem);
    margin-left: calc(-50% - 0.46667rem);
  }
}

@media (min-width: 600px) {
  .imgbleed {
    width: -webkit-calc(150% + 0.46667rem);
    width: calc(150% + 0.46667rem);
    margin-left: -webkit-calc(-50% - 0.46667rem);
    margin-left: calc(-50% - 0.46667rem);
  }

  .imgbleed figcaption {
    position: absolute;
    margin-top: 1.4rem;
    top: 100%;
    left: 0;
    width: 33.33333%;
    padding-right: 0.7rem;
    text-align: right;
  }
}

html,
:root {
  font: 125%/1.4 'Hoefler Text A', 'Hoefler Text B', Georgia, serif;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga" 1, "onum" 1, "dlig" 1, "frac" 1;
  -moz-font-feature-settings: "liga" 1, "onum" 1, "dlig" 1, "frac" 1;
  font-feature-settings: "liga" 1, "onum" 1, "dlig" 1, "frac" 1;
  background-color: #fff;
  color: #3d464d;
}

@media (max-width: 860px) {
  html,
  :root {
    font-size: 112.5%;
  }
}

@media (max-width: 500px) {
  html,
  :root {
    font-size: 100%;
  }
}

html.night-mode,
:root.night-mode {
  background-color: #1d1f21;
  color: #999a9b;
}

code,
pre {
  font: 85%/1.647058824 "Source Code Pro", Menlo, Consolas, monospace;
}

.highlight pre {
  max-width: 100%;
  overflow: scroll;
  border-radius: 0.25em;
  background-color: #fafcfd;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.highlight pre .hll {
  background-color: #ffc;
}

.highlight pre .c {
  color: #aaa;
  font-style: italic;
}

.highlight pre .err {
  color: #f00;
  background-color: #f0a0a0;
}

.highlight pre .k {
  color: #00a;
}

.highlight pre .cm {
  color: #aaa;
  font-style: italic;
}

.highlight pre .cp {
  color: #4c8317;
}

.highlight pre .c1 {
  color: #aaa;
  font-style: italic;
}

.highlight pre .cs {
  color: #00a;
  font-style: italic;
}

.highlight pre .gd {
  color: #a00;
}

.highlight pre .ge {
  font-style: italic;
}

.highlight pre .gr {
  color: #a00;
}

.highlight pre .gh {
  color: #000080;
  font-weight: bold;
}

.highlight pre .gi {
  color: #0a0;
}

.highlight pre .go {
  color: #888;
}

.highlight pre .gp {
  color: #555;
}

.highlight pre .gs {
  font-weight: bold;
}

.highlight pre .gu {
  color: #800080;
  font-weight: bold;
}

.highlight pre .gt {
  color: #a00;
}

.highlight pre .kc {
  color: #00a;
}

.highlight pre .kd {
  color: #00a;
}

.highlight pre .kn {
  color: #00a;
}

.highlight pre .kp {
  color: #00a;
}

.highlight pre .kr {
  color: #00a;
}

.highlight pre .kt {
  color: #0aa;
}

.highlight pre .m {
  color: #099;
}

.highlight pre .s {
  color: #a50;
}

.highlight pre .na {
  color: #1e90ff;
}

.highlight pre .nb {
  color: #0aa;
}

.highlight pre .nc {
  color: #0a0;
  text-decoration: underline;
}

.highlight pre .no {
  color: #a00;
}

.highlight pre .nd {
  color: #888;
}

.highlight pre .ni {
  color: #800000;
  font-weight: bold;
}

.highlight pre .nf {
  color: #0a0;
}

.highlight pre .nn {
  color: #0aa;
  text-decoration: underline;
}

.highlight pre .nt {
  color: #1e90ff;
  font-weight: bold;
}

.highlight pre .nv {
  color: #a00;
}

.highlight pre .ow {
  color: #00a;
}

.highlight pre .w {
  color: #bbb;
}

.highlight pre .mf {
  color: #099;
}

.highlight pre .mh {
  color: #099;
}

.highlight pre .mi {
  color: #099;
}

.highlight pre .mo {
  color: #099;
}

.highlight pre .sb {
  color: #a50;
}

.highlight pre .sc {
  color: #a50;
}

.highlight pre .sd {
  color: #a50;
}

.highlight pre .s2 {
  color: #a50;
}

.highlight pre .se {
  color: #a50;
}

.highlight pre .sh {
  color: #a50;
}

.highlight pre .si {
  color: #a50;
}

.highlight pre .sx {
  color: #a50;
}

.highlight pre .sr {
  color: #099;
}

.highlight pre .s1 {
  color: #a50;
}

.highlight pre .ss {
  color: #00a;
}

.highlight pre .bp {
  color: #0aa;
}

.highlight pre .vc {
  color: #a00;
}

.highlight pre .vg {
  color: #a00;
}

.highlight pre .vi {
  color: #a00;
}

.highlight pre .il {
  color: #099;
}

.site__title {
  text-decoration: none;
}

.site__title:hover {
  color: inherit;
}

.site__title span {
  margin-bottom: 0;
}

.site__nav {
  font-family: 'Whitney SSm SC A', 'Whitney SSm SC B', 'Whitney SSm A', 'Whitney SSm B', Geneva, Verdana, san-serif;
  letter-spacing: 0.05em;
  border-top: 1px solid #d0d2d4;
}

.night-mode .site__nav {
  border-top-color: #393b3f;
}

.site__nav li {
  margin-top: -1px;
}

.site__nav li + li {
  margin-left: 1rem;
}

.site__nav a {
  text-decoration: none;
  color: #888;
  border-top: 1px solid transparent;
}

.night-mode .site__nav a {
  color: #77797a;
}

.site__nav a.active {
  color: #508FAB;
  border-top-color: #508FAB;
}

.site__nav a:hover {
  color: #508FAB;
}

.js--toggle-lights {
  font-family: sans-serif;
}

.posts__list .beta {
  margin-bottom: 0;
}

.posts__list a {
  text-decoration: none;
}

.post__title {
  margin-bottom: 0;
}

p:empty {
  display: none;
}

.hentry {
  margin-bottom: 4.2rem;
}

@media (max-width: 860px) {
  .hentry {
    margin-left: 0;
  }
}

@media (max-width: 860px) and (min-width: 600px) {
  .post__header.grid__col,
  .page__header.grid__col {
    text-align: center;
    width: 66.67%;
  }
}

@media (max-width: 860px) and (min-width: 600px) {
  .post__content.grid__col,
  .page__content.grid__col,
  .post__header.grid__col,
  .page__header.grid__col {
    display: block;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .post__content.grid__col .alignleft,
  .post__content.grid__col .alignright,
  .post__content.grid__col .imgbleed,
  .page__content.grid__col .alignleft,
  .page__content.grid__col .alignright,
  .page__content.grid__col .imgbleed,
  .post__header.grid__col .alignleft,
  .post__header.grid__col .alignright,
  .post__header.grid__col .imgbleed,
  .page__header.grid__col .alignleft,
  .page__header.grid__col .alignright,
  .page__header.grid__col .imgbleed {
    margin-left: -25%;
    padding-right: 1.4rem;
  }
}

.footnote,
.footnote:visited {
  padding: 0.15em;
  color: #508FAB;
  text-decoration: none;
}

.footnote:hover,
.footnote:visited:hover {
  text-decoration: underline;
}

.footnotes:before {
  content: '';
  display: block;
}

.footnotes :last-child {
  margin-bottom: 0;
}

.footnotes :target {
  color: #3d464d;
}

.site__footer {
  border-top: 1px solid #d0d2d4;
}

.night-mode .site__footer {
  border-top-color: #393b3f;
}

.site__footer section {
  position: static;
}

.site__footer section + section:before {
  content: none;
  content: normal;
}

@media screen and (min-width: 700px) {
  .site__footer section + section:before {
    content: '';
    position: absolute;
    width: 1px;
    margin-left: -0.7rem;
    top: 0;
    bottom: 0;
    background-color: #d0d2d4;
  }

  .night-mode .site__footer section + section:before {
    background-color: #393b3f;
  }
}

.footer__copyright {
  border-top: 1px solid #d0d2d4;
}

.night-mode .footer__copyright {
  border-top-color: #393b3f;
}