//
// Partial: layout
// ===============
//
// Layout rules
//


@import 'grid';

.wrap {
  max-width: 45rem;
  margin: 0 auto;
}

body {
  padding: $baseline;
}


.island {
  @extend %island;
}

%island {
  padding: $baseline;
}


.island--v {
  @extend %island--v
}

%island--v {
  padding-top: $baseline;
  padding-bottom: $baseline;
}


.isle {
  @extend %isle;
}

%isle {
  padding: $baseline/2;
}


.isle--v {
  @extend %isle--v;
}

%isle--v {
  padding-top: $baseline/2;
  padding-bottom: $baseline/2;
}


.spit {
  @extend %spit;
}

%spit {
  padding: $baseline/4;
}


.spit--v {
  @extend %spit--v;
}

%spit--v {
  padding-top: $baseline/4;
  padding-bottom: $baseline/4;
}
