//
// Partial: typography
// ===================
//
// Type styles
//


h1,
.alpha,
%alpha {
  font-family: $font-display;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.166666667;

  .caps {
    font-family: $font-display-sc;
  }
}

h2,
.beta,
%beta {
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.166666667;

  * + & {
    padding-top: $baseline;
  }
}

h3,
.gamma,
%gamma {
  margin-bottom: .7rem;

  font-family: $font-serif-sc;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: .05em;
}

h4,
.delta,
%delta {
  margin-bottom: .7rem;

  font-family: $font-sans-sc;
  font-size: .65rem;
  font-weight: 400;
  line-height: 1.615384615;
  letter-spacing: .05em;
}

small,
.small,
%small {
  font-size: .8rem;
  line-height: 1.3125;
}

.mega {
  font-size: 2.5rem;
  line-height: $baseline-unitless;
  font-weight: 200;
}

.sans {
  font-family: $font-sans;

  .caps {
    font-family: $font-sans-sc;
  }
}

.dropcap {
  font-family: $font-display;
  font-size: $baseline*3;
  line-height: 1;
  float: left;
  color: $highlight;
  margin-right: $baseline/4;
}


%meta {
  color: $light-gray;
}

.meta {
  @extend %meta;
}


.caps {
  font-family: $font-serif-sc;
  letter-spacing: .05em;
}


%link {
  color: inherit;
  cursor: pointer;

  &:hover {
    color: $highlight;
  }
}

a, a:visited {
  @extend %link;
}

%figcaption {
  font-size: .65rem;
  line-height: 1.615384615;
  font-family: $font-sans;

  color: $light-gray;

  .night-mode & {
    color: $light-gray-invert;
  }

  .caps {
    font-family: $font-sans-sc;
  }
}

figcaption {
  @extend %figcaption;
}


hr {
  @extend %hr;
}

%hr {
  border: 0;
  border-bottom: 2px solid $lighter-gray;
  width: 6rem;
  padding-top: $baseline;
  margin: {
    top: -2px;
    right: auto;
    bottom: $baseline*2;
    left: auto;
  }

  .night-mode & {
    border-bottom-color: $lighter-gray-invert;
  }
}


mark {
  background-color: transparent;
  color: $highlight;
}

blockquote {
  font-style: italic;

  padding: 0 $baseline;
  border-left: 2px solid $highlight;

  em {
    font-style: normal;
  }
}

.promo {
  text-align: center;
}
