//
// Partial: variables
// ==================
//
// Global variables of all kinds
//


// Group: Unit Sizes
$base-font-size: (20/16)*100%;
$baseline-unitless: 28 / (16*($base-font-size/100%));
$baseline: $baseline-unitless * 1rem;


// Group: Fonts
$font-serif: 'Hoefler Text A', 'Hoefler Text B', Georgia, serif;
$font-serif-sc: 'Hoefler Text SC A', 'Hoefler Text SC B', $font-serif;

$font-sans: 'Whitney SSm A', 'Whitney SSm B', Geneva, Verdana, san-serif;
$font-sans-sc: 'Whitney SSm SC A', 'Whitney SSm SC B', $font-sans;

$font-display: 'Requiem Display A', 'Requiem Display B', $font-serif;
$font-display-sc: 'Requiem Display SC A', 'Requiem Display SC B', $font-display;
$font-code: 'Source Code Pro', Monaco, monospace;


// Group: Colors
$background: #fbf7f0;
$highlight: #508FAB;

$dark-gray: #3d464d;
$light-gray: #888;
$lighter-gray: #d0d2d4;

// Group: Colors-invert
$background-invert: #1d1f21;

$dark-gray-invert: #999a9b;
$light-gray-invert: #77797a;
$lighter-gray-invert: #393b3f;
