{% include header.html %}

  <main class="wrap site__content post--single" role="main">

    <article class="grid hentry">
      <header class="post__header grid__col grid__col--2-of-6">
        <h1 class="post__title">{{ page.title | widont }}</h1>
        <p class="delta post__meta meta">{{ page.date | pretty }}</p>
      </header>
      <div class="post__content grid__col grid__col--4-of-6">
        {{ content }}
      </div>
    </article>

  </main>

{% include footer.html %}
